<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sistema_Personas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Sistema_Personas.Properties.Settings.Valor" connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=minisistema"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Sistema_Personas.Properties.Settings>
            <setting name="Valor1" serializeAs="String">
                <value />
            </setting>
        </Sistema_Personas.Properties.Settings>
    </applicationSettings>
</configuration>